<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Dnf</vendor>
  <vendor_url>https://github.com/rpm-software-management/libdnf/</vendor_url>

  <action id="org.rpm.dnf.v0.rpm.RepoConf.write">
    <description>Write repository configuration file</description>
    <message>Writing changes to repository configuration file requires authentication.</message>
    <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.rpm.dnf.v0.rpm.execute_transaction">
    <description>Execute rpm transaction</description>
    <message>Authentication is required to execute a rpm transaction.</message>
    <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.rpm.dnf.v0.rpm.Repo.confirm_key">
    <description>Repository key import confirmation</description>
    <message>Authentication is required to confirm repository key import.</message>
    <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
