# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
    exclude:
       test/libdnf5/iniparser/test_iniparser.cpp
  - id: end-of-file-fixer
  - id: check-xml
  - id: check-added-large-files
  - id: check-merge-conflict
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.1
  hooks:
  - id: clang-format
    types_or:
    - c++
- repo: https://github.com/pre-commit/mirrors-autopep8
  rev: v2.0.2
  hooks:
  - id: autopep8
- repo: https://github.com/inknos/pre-commit-rpmlint
  rev: v0.0.1
  hooks:
  - id: rpmlint
  # Passes if packit not installed. Needed for validation locally
- repo: https://github.com/packit/pre-commit-hooks
  rev: v1.2.0
  hooks:
  - id: validate-config
- repo: https://github.com/teemtee/tmt.git
  rev: 1.26.0
  hooks:
  - id: tmt-lint
