[Unit]
Description=dnf automatic
ConditionPathExists=!/run/ostree-booted
After=network-online.target

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/bin/dnf5 automatic /etc/dnf/automatic.conf --timer
